/* Use any custom styles you'd like here */

/* Easily customizable colors for the web app */
:root {
    --main-background-color: #F9FBF2;
    --main-top-background-color: #FBFEF9;
    --main-accent-color: #e41a1a;
    --title-color: #1E2019;
}

.button.is-primary {
    background-color: var(--main-accent-color);
}

.button.is-primary:hover {
    background-color: var(--title-color);
}

.main {
    padding-top: 1em;
}

.siteheader {
    padding-left: 100px;
}

.site-title {
    padding: 0em;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;

}

.title {
    color: var(--main-accent-color);
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
}


.product-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.product-title {
    font-size: 2em;
}

.product-price {
    font-size: 2em;
}

.images {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}